switch-digiconecu.duckdns.org {
    # 1. Frontend (Root)
    # Redirige todo el tráfico raíz al contenedor del Frontend
    reverse_proxy switch-frontend:80

    # 2. API Gateway (Kong)
    # Usamos 'handle' para NO borrar el prefijo y que Kong reciba la ruta completa
    handle /transacciones* {
        reverse_proxy kong-gateway:8000
    }
    
    # Para el Frontend que añade /api, DEBEMOS quitarlo con handle_path
    handle_path /api* {
        reverse_proxy kong-gateway:8000
    }

    # Logs para depuración
    log {
        output stdout
    }
}
